    <div class="container content-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Us</h2>
            <p>Feel free to email us to provide some feedback, give us suggestions or to just say hello!</p>
            <p><a href="mailto:feedback@bitplay.ph">feedback@bitplay.ph</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/bitplayph" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://facebook.com/bitplayph" class="btn btn-default btn-lg"><i class="fa fa-facebook-square fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/bitplayph/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>